@import "bootstrap/scss/bootstrap";
body {
  margin: 40px;
}
.details {
  display: flex;
  background-color: lightgray;
  height: 3em;
  border-radius: 5px;
  align-items: center;
  width: 50%;
  padding-left: 6px;
}